body {
    padding: 0px;
    margin: 0px;
    background-color: rgba(244, 233, 221, 0.8);

}
.text1 {
text-align: center;
font-size: 40px;
color: rgba(42, 23, 1, 0.8);
}

.container-card {
    width: 100%;
    position: relative;
}

.container-content p{
    text-align: center;
    font-size: 15px;
}
.container-content h2{
    text-align: center;
    font-size: 30px;
}

.container-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px 0px;
    grid-template-areas:
    "Mitt intresse"
    "Historia"
    "Mitt mål"
    "Kontakt";
    padding: 15px;
}
.container-card1{
    border: 3.5px solid black;
    border-radius: 7px;
    padding: 15px;
    height: 90vw;
    }
    .container-card2{
        border: 3.5px solid black;
        border-radius: 7px;
        padding: 15px;
        height: 80vw;
        }
.container-card3{
      border: 3.5px solid black;
      border-radius: 7px;
      padding: 15px;
      height: 80vw;
      }
.container-card4{
      border: 3.5px solid black;
      border-radius: 7px;
      padding: 15px;
      height: 50vw;
      }

